.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}
  
  .form__input textarea{
    resize: none;
  }
  
  .react-datetime-picker__wrapper{
    align-items: center;
  }

  .ReactModal__Overlay {
    z-index: 100;
}

  .calendarformat{
    height: 95vh;
  }

  .CalendarScreen{
    height: 100vh;
  }