.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    height: 10vh;
}

.navbar span{
    font-weight: bolder;
    font-style: italic;
}

.navbar button{
    width: 70px;
    background: whitesmoke;
}